Source: php-symfony-property-access
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq
Standards-Version: 4.6.2
Homepage: https://github.com/symfony/property-access
Vcs-Git: https://github.com/Vitexus/php-symfony-property-access.git
Rules-Requires-Root: no

Package: php-symfony-property-access
Architecture: all
Depends: ${misc:Depends}, php-cli | php, composer,
 php-symfony-property-info
Description: Symfony PropertyAccess Component
 Provides functions to read and write from/to an object or array
 using a simple string notation.
